/* right sidebar Component */
.rightsidebar {
  /* autoprefixer: off */
  grid-column: 3;
  grid-row: 1/4;
  background-color: #362234;
  color: #958993;
  padding-top: 15px;
  &__list {
    width: 100%;
    padding-left: 0px;
    list-style: none;
    &__item {
      height: 50px;
      width: 50px;
      background-color: #676066;
      color: #fff;
      margin: auto;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      border-radius: 11px;
      &:hover {
        cursor: pointer;
        border-style: solid;
        border-width: thick;
        border-color: #857f87;
      }
      &--add-team {
        border-style: dotted;
        border-color: #676066;
        background: transparent;
        &:hover {
          border-style: dotted;
          border-width: medium;
          border-color: #857f87;
        }
      }
    }
  }
}
