/* Messages Component */
.messages-wrapper {
  /* autoprefixer: off */
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
  flex-direction: column-reverse;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  &__fileupload {
    display: flex;
    flex-direction: column-reverse;
  }
}

.comment-avatar {
  &:hover {
    cursor: pointer;
  }
}
.image-type {
  max-width: 100%;
}

.toggle-more-button {
  cursor: pointer;
}
