server {
    location /assets {
        alias /assets/;
        gzip_static on;
        expires max;
        add_header Cache-Control private;
    }
    
    location / {
        proxy_pass http://backend:3030;
    }
}