$paddingLeft: 20px;

/* colors */
$white: #fafafa;
$superlightgrey: rgba($white, 0.6);
$lightgrey: #b1b1b1;
$grey: #8b8b8b;
$darkgrey: #535353;
$black: #0f0f0f;

$lightbubblegreen: #16e76d;
$bubblegreen: #00e45f;

$purple: #4e3a4c;
$darkpurple: #3e313c;

$red: rgb(255, 89, 89);
