$paddingLeft: 20px;

/* colors */
$white: #ecf0f1;
$superlightgrey: rgba($white, 0.6);
$lightgrey: #b1b1b1;
$grey: #8b8b8b;
$darkgrey: #535353;
$black: #0f0f0f;

$lightbubblegreen: #1bdd6c;
$bubblegreen: #18b158;

$purple: #4e3a4c;
$darkpurple: #3e313c;
