@import "../../../assets/css/vars.scss";
/* remove base styles */
.ui.menu .item {
  padding: 0;
}

.ui.segment.pushable {
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.ui.basic.segment {
  padding: 0;
}

/* right toggle sidebar layout */
.ui.sidebar {
  width: 430px !important;
}

.right-toggle-sidebar {
  height: 100vh;
}

.sidebar-container {
  display: grid;
  overflow: hidden;
  grid-template-rows: 63px auto 40px;
}

/* components */
.right-sidebar-header {
  grid-row: 1;
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: $black;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  &__toggle_button {
    color: $grey;
    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  &__my-profile {
    &:hover {
      cursor: pointer;
    }
  }
}

.right-sidebar-content {
  grid-row: 2;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 110px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.right-sidebar-footer {
  grid-row: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  margin-top: 5px;
  height: 40px;
}

.view-pic {
  padding: 10px;
  text-align: center;
  &__img {
    width: 400px;
  }
}
.view-header {
  font-size: 1.3em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin-bottom: 10px;
  &__name {
    font-size: 1.6em;
  }
  &__members {
    &__icon {
      &:hover {
        cursor: pointer;
      }
    }
    &__text {
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__brief-description {
  }
}
.view-detail {
  padding: 10px;
  font-size: 1.1em;
  overflow-y: auto;
  &__details-header {
    font-size: 1.3em;
  }
  &__email {
  }
  &__detail-description {
  }
  &__role {
  }
}

.right-sidebar-label {
  color: $grey;
}
.right-sidebar-item {
  margin-bottom: 10px;
}
.right-sidebar-button {
  background-color: $white;
  border: 1px solid $lightgrey;
  border-radius: 3px;
  padding: 5px 10px;
  &:hover {
    cursor: pointer;
  }
  &:focus,
  &:active & {
    outline: none;
  }
}

.member-row {
  display: flex;
  overflow-y: hidden;
  border-bottom: 1px solid $lightgrey;
  padding: 5px;
  align-items: center;
  &__left {
    width: 65px;
    height: 65px;
    &__img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__right {
    &__name {
      font-size: 1.3em;
      margin: 0;
    }
    &__email {
      margin: 0;
      color: $grey;
      font-weight: 300;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.toggle-edit-button {
  color: $lightgrey;
  &:hover {
    cursor: pointer;
  }
}
.inline-hint {
  color: $lightgrey;
}
