/* Header Component */

.main-header {
  /* autoprefixer: off */
  font-size: 1.4rem;
  font-weight: 900;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
