/* WorkSpace Layout */
.workspace-page {
  display: grid;
  height: 100vh;
  grid-template-columns: 260px 1fr 80px;
  grid-template-rows: auto 1fr auto;
  &--sidebar-true {
    grid-template-columns: 260px calc(100vw - 720px) 0px;
  }
}
