@import "../../../../assets/css/vars.scss";
.public-tag {
  color: $superlightgrey;
  font-size: 1em;
  &--dark {
    font-size: 1em;
    color: $black;
  }
}
.private-tag {
  color: $superlightgrey;
  font-size: 0.7em;
  &--dark {
    font-size: 0.7em;
    color: $black;
  }
}
