@import "../../../assets/css/vars";

/* leftsidebar Component */
.leftsidebar {
  /* autoprefixer: off */
  grid-column: 1;
  grid-row: 1/4;
  overflow-y: auto;
  background-color: $purple;
  color: $lightgrey;
  &__invite {
    padding: 15px 0px 10px $paddingLeft;
    color: $white;
    &:hover {
      background: $darkpurple;
      cursor: pointer;
    }
    &__plus {
      font-size: 16px;
    }
  }
  &__header {
    &__top {
      padding: 15px 0px 10px $paddingLeft;
      &:hover {
        background: $darkpurple;
        cursor: pointer;
      }
      &__teamname {
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        color: $white;
        margin-bottom: 5px;
      }
    }
    &__bottom {
      padding: 15px 0px 10px $paddingLeft;
      display: flex;
      &:hover {
        background: $darkpurple;
        cursor: pointer;
      }
      &__left {
        &__avatar {
          width: 40px;
          border-radius: 2%;
        }
      }
      &__right {
        margin-left: 10px;
        &__username {
          color: $lightgrey;
          font-size: 20px;
          padding: 0px;
          margin: 0px;
          padding-bottom: 3px;
        }
      }
    }
  }
  &__List {
    width: 100%;
    list-style: none;
    padding-left: $paddingLeft;
    &__bubble {
      padding-right: 3px;
    }
    &__header {
      color: $white;
      font-size: 14px;
      padding: 5px 0px;
      &__title {
        padding-right: 130px;
        &--closer {
          padding-right: 81px;
        }
      }
      &__icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
    &__link {
      &:focus,
      &:active & {
        text-decoration: none;
      }
      &__item {
        padding: 3px;
        font-size: 15px;
        padding-left: 5px;
        &:hover {
          background: $darkpurple;
        }
        &--link {
          color: $lightgrey;
        }
        &__num {
          padding: 0 3px;
          font-size: 0.8em;
          border-radius: 15%;
          background-color: $lightgrey;
          color: $purple;
        }
      }
    }
  }
}
