@import "../../../assets/css/vars";

/* leftsidebar Component */
.leftsidebar {
  /* autoprefixer: off */
  grid-column: 1;
  grid-row: 1/4;
  background-color: #4e3a4c;
  color: rgba($white, 0.6);
  &__invite {
    padding: 15px 0px 10px $paddingLeft;
    &:hover {
      background: #3e313c;
      cursor: pointer;
    }
  }
  &__header {
    padding: 15px 0px 10px $paddingLeft;
    &:hover {
      background: #3e313c;
      cursor: pointer;
    }
    &__teamname {
      font-size: 20px;
      padding: 0px;
      margin: 0px;
      color: $white;
    }
    &__username {
      color: rgba($white, 0.6);
      font-size: 20px;
      padding: 0px;
      margin: 0px;
    }
  }
  &__List {
    width: 100%;
    list-style: none;
    padding-left: $paddingLeft;
    &__bubble {
      color: #38978d;
      padding-right: 3px;
    }
    &__header {
      color: $white;
      font-size: 14px;
      padding: 5px 0px;
      &__icon {
        padding-left: 120px;
        &:hover {
          cursor: pointer;
        }
        &--closer {
          padding-left: 67px;
        }
      }
    }
    &__item {
      padding: 3px;
      font-size: 15px;
      padding-left: 5px;
      &:hover {
        background: #3e313c;
      }
      &--link {
        color: rgba($white, 0.6);
      }
    }
  }
}
